
<link href="../resource/styles.css" rel="stylesheet" type="text/css">
<body bgcolor="#000000" text="#FFFFFF" link="#000000" vlink="#000000" alink="#000000" class="datetext">

<table width="100%" border="0" cellpadding="5" cellspacing="0" valign="top">
<tr>
	<td valign="top">
	
	
<table width="100%" border="0" cellpadding="5" cellspacing="20" class="bodyborder">
  <tr>
    <td valign="top" class="datetext">
 
<p class="newsheading">UV Tools Order Form<br>
  <?=$message?>
</p>   
    	
<form action="prepurchase.php" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="100%" border="0" align="center" cellpadding="1" cellspacing="0">
    <tr>
      <td colspan="2" class="normaltext"><div class="newsheading"></div>      </td>
    </tr>
    <tr>
      <td colspan="2" class="normaltext"><div class="newsheading">
        <div align="left">Single Licence</div>
      </div>
      <span class="errortext"><?=$individualMessage?></span>      </td>
    </tr>
    <tr>
      <td width="60%" class="normaltext">&nbsp;</td>
      <td width="40%">&nbsp;</td>
    </tr>
    <tr>
      <td class="normaltext" colspan="2"><p>Use this licence type if you want a licence per user or do not want a network licence type. If you would like multiple copys of uv tools, you will need to fill in this form for each copy. <p>Please include your max id located in the uv tools about dialog, or use the buy button in the about dialog of uv tools.</p>        </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><span class="normaltext">
        <label>
        max id</span>
        <div align="right">
          <label class="normaltext"></label>
        </div>
      </label></td>
      <td><span class="normaltext">
        <input type="text" name="maxId" value="<?=$maxId?>">
      </span></td>
    </tr>
    <tr>
      <td class="normaltext">&nbsp;</td>
      <td><div align="right">
        <br>
        <input name="submitIndividual" type="image" id="submitIndividual" value="submit" src="<?=$basePath;?>resource/buttonsubmit.gif">
      </div></td>
    </tr>
  </table>
  </form>

<form name="form2" method="post" action="prepurchase.php">
  <table width="100%" border="0" align="center" cellpadding="1" cellspacing="0">
    <tr>
      <td colspan="2"><span class="normaltext">
          <div class="newsheading">
            <div align="left">Network Licence</div>
          </div>
          <p class="errortext"><span class="normaltext">If you wish to buy multiple licences, please email us at sales@blackcarbon.net, with the number of licences you are intrested in. </span></p>
          <p class="errortext">
            <?=$buisnessMessage?>
          </p>
          </td>
    </tr>
  </table>
</form>
<p>&nbsp;</p></td>
  </tr>
</table>


	</td>
    <td width="200" height="450" align="center" valign="top"><font color="#CCCCCC"> 
      
      <?php
        include($basePath . 'sidebar.htm');
      ?> 
      
      </font></td>
  </tr>
</table>

</body>
</html>
