/**************************************************

    Style    Minima
    Version    1.0
    Author    Eris Siva <erissiva@gmail.com>
    Created    2005-06-10
    Edited    2005-06-11

            This work is licensed under the Creative Commons
            Attribution-NonCommercial-ShareAlike License. 
            To view a copy of this license, visit 
            http://creativecommons.org/licenses/by-nc-sa/2.0/ 
            or send a letter to 
            Creative Commons, 559 Nathan Abbott Way
            Stanford, California 94305, USA.

**************************************************/

/****************************************************************/
/* 1. BACKGROUND AND TEXT COLOURS */
/****************************************************************/

/* 1.1 Default background colour and text colour */

BODY {BACKGROUND-COLOR: #000000}

.pun {COLOR: #ffffff}

DIV.box, .pun BLOCKQUOTE, DIV.codebox, #adminconsole FIELDSET TH, .rowodd, .roweven {BACKGROUND-COLOR: #000000}
#adminconsole TD, #adminconsole TH {BORDER-COLOR: #fff}

/* 1. 2 Darker background colours */

TD.tc2, TD.tc3, TD.tcmod, #postpreview, #viewprofile DD, DIV.forminfo,
#adminconsole FIELDSET TD, DIV.blockmenu DIV.box, #adstats DD {BACKGROUND-COLOR: #000000}

/* 1.3 Main headers and navigation bar background and text colour */

.pun H2, #brdmenu {BACKGROUND-COLOR: #000000; color: #c60; text-transform: uppercase; font-weight: bold;}

#brdmenu {  margin:0 11px 11px;
  padding:0 20px 20px;
  border:1px solid #000000;
  border-width:0 1px 1px;
  max-width:700px;
  font:78%/1.4em "Trebuchet MS",Trebuchet,Arial,Verdana,Sans-serif;
  text-transform:uppercase;
  letter-spacing:.2em;
  color:#000000;
  text-align: center;}

/* 1.4 Table header rows */

.pun TH {BACKGROUND-COLOR: #000000}

/* 1.5 Fieldset legend text colour */

.pun LEGEND {COLOR: #005CB1}

/* 1.6 Highlighted text for various items */

.pun DIV.blockmenu LI.isactive A, #posterror LI STRONG {COLOR: #333}

/****************************************************************/
/* 2. POST BACKGROUNDS AND TEXT */
/****************************************************************/

/* 2.1 This is the setup for posts. */

DIV.blockpost DIV.box, DIV.postright, DIV.postfootright {BACKGROUND-COLOR: #000000}
DIV.postright, DIV.postfootright {BORDER-LEFT-COLOR: #000000}
DIV.postleft, DIV.postfootleft, DIV.blockpost LABEL {BACKGROUND-COLOR: #1a1a1a}

/* 2.2 Background for post headers and text colour for post numbers in viewtopic */

DIV.blockpost H2 {BACKGROUND-COLOR: #333333}
DIV.blockpost H2 SPAN.conr {COLOR: #AABDCD}

/* 2.3 This is the line above the signature in posts. Colour and background should be the same */

.pun HR {BACKGROUND-COLOR: #333; COLOR: #333}

/****************************************************************/
/* 3. BORDER COLOURS */
/****************************************************************/

/* 3.1 All external borders */

DIV.box {BORDER-COLOR: #0066B9}

/* 3.2 Makes the top border of posts match the colour used for post headers */

DIV.blockpost DIV.box {BORDER-COLOR: #006fC9 #0066B9 #0066B9}

/* 3.3 Table internal borders. By default TH is same as background so border is invisible */

.pun TD {BORDER-COLOR: #BBCEDE}
.pun TH {BORDER-COLOR: #000000}

/* 3.4 Creates the inset border for quote boxes, code boxes and form info boxes */

.pun BLOCKQUOTE, DIV.codebox, DIV.forminfo, DIV.blockpost LABEL {BORDER-COLOR: #ACA899 #FFF #FFF #ACA899}

.pun DIV.blockpost { border-bottom: #eee solid 1px}

/* 3.5 Gecko's default fieldset borders are really nasty so this gives them a colour
without interferring with IE's rather nice default */

.pun DIV>FIELDSET {BORDER-COLOR: #ACA899}

/****************************************************************/
/* 4. LINK COLOURS */
/****************************************************************/

/* 4.1 This is the default for all links */

.pun A:link, .pun A:visited {COLOR: #cccccc; text-decoration: none}
.pun A:hover {COLOR: #d07c00}

/* 4.2 This is the colour for links in header rows and the navigation bar */

.pun H2 A:link, .pun H2 A:visited, #brdmenu A:link, #brdmenu A:visited {COLOR: #cccccc}
.pun H2 A:hover, #brdmenu A:hover {COLOR: #d07c00}

/* 4.3 This is for closed topics and "hot" links */

LI.postreport A:link, LI.postreport A:visited, TR.iclosed TD.tcl A:link, TR.iclosed TD.tcl A:visited {COLOR: #888}
LI.postreport A:hover, TR.iclosed TD.tcl A:hover {COLOR: #AAA}
LI.maintenancelink A:link, LI.maintenancelink A:visited {COLOR: #B42000}
LI.maintenancelink A:hover {COLOR: #B42000}

/****************************************************************/
/* 5. POST STATUS INDICATORS */
/****************************************************************/

/* These are the post status indicators which appear at the left of some tables. 
.inew = new posts, .iredirect = redirect forums, .iclosed = closed topics and
.isticky = sticky topics. The default is "icon". By default only .inew is different.*/

DIV.icon {BORDER-COLOR: #333333} /*#D1E2EF}*/
TR.iredirect DIV.icon {BORDER-COLOR: #F1F1F1 #F1F1F1 #F1F1F1 #F1F1F1}
DIV.inew {BORDER-COLOR: #d78000} /*#8FCDFF #61A6DF #4D95CF #77B9EF}*/

DIV.blockpost H2 a:link, DIV.blockpost H2 a:hover
{ color: #ccc; text-decoration: none;}
#brdtitle
{ padding: 0px;}
#brdheader
{ border: 1px solid #000000; border-bottom-style:none; padding-bottom: 0px;}
#brdwelcome
{ color: #ffffff; text-transform: uppercase; font-size: .8em; padding: 5px 6px 0px 6px; margin: 0px -1px 0px -1px; border: 1px solid #000000; border-top: 1px solid #ccc; border-width: 1px 1px 1px 1px;}
#brdstats
{ color: #666; text-transform: none; font-size: .8em}
#brdfooter p, #modcontrols, .postfootright, .postfootleft, .postleft
{ color: #666; font-size: .8em;}
#brdstats
{ padding-top: 15px;}
.pun #main
{width: 500px;}
.pun textarea
{ background-color: #fafafa; border: 1px solid #000000 }
.linkst li, .linksb li
 { color: #666; font-size: .8em;}