/*********************************************************************************************************
 This code is part of the Simple Forum software (www.gerd-tentler.de/tools/forum), copyright by
 Gerd Tentler. Obtain permission before selling this code or hosting it on a commercial website or
 redistributing it over the Internet or in any other medium. In all cases copyright must remain intact.
*********************************************************************************************************/

BODY {
  color: #000000;
  background-color: #F0F0F0;
}
BODY, P, DIV, SPAN, TD, TH, UL, OL {
  font-family: Verdana, Arial, Helvetica;
  font-size: 12px;
}
DIV, PRE {
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 6px;
}
A, A:active, A:visited {
  color: #000000;
  text-decoration: none;
}
A:hover {
  color: #FF0000;
  text-decoration: underline;
}
.cssLink1, .cssLink1:active, .cssLink1:visited {
  color: #000080;
  text-decoration: none;
}
.cssLink1:hover {
  color: #0000FF;
  text-decoration: underline;
}
.cssLink2, .cssLink2:active, .cssLink2:visited {
  color: #80A0C0;
  text-decoration: underline;
}
.cssLink2:hover {
  color: #6080A0;
  text-decoration: underline;
}
.cssLink3, .cssLink3:active, .cssLink3:visited {
  color: #FFFFFF;
  text-decoration: none;
}
.cssLink3:hover {
  color: #0000FF;
  text-decoration: underline;
}
.cssDetails {
  color: #80A0C0;
}
.cssCurThread {
  font-weight: bold;
  color: #0000FF;
}
.cssDate {
  color: #FF6666;
}
.cssTitle {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #B0D0F0;
  border: 2px outset #FFFFFF;
}
.cssSmall {
  font-size: 10px;
  color: #A0A0A0;
}
.cssContent {
  text-align: left;
  background-color: #FFFFFF;
  border: 1px solid #A0B0C0;
}
.cssForm {
  font-family: Courier New, Courier, Monospace;
  font-size: 12px;
}
.cssThreads {
  text-align: left;
  background-color: #F0F8FF;
  border: 1px solid #A0B0C0;
}
.cssNavigation {
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #B0D0F0;
  border: 2px outset #FFFFFF;
}
.cssError {
  text-align: center;
  font-weight: bold;
  color: #D00000;
  background-color: #FFF0E0;
  border: 1px solid #C0B0A0;
}
.cssCode {
  font-family: Courier New, Courier, Monospace;
  font-size: 12px;
  color: #00A000;
  background-color: #E0FFE0;
  border: 1px solid #C0E0C0;
  margin-top: 2px;
  margin-bottom: 2px;
}
.cssQuote {
  color: #808080;
  background-color: #F0F0F0;
  border: 1px solid #C0C0C0;
  margin-top: 2px;
  margin-bottom: 2px;
}
