body 
{
	background-color:#000000; /*202020;*/
}

body
{
	color:#BBBBBB;
}

span
{
	display:block;
}

/* used to toggle visibility of parallels */
.vis_toggle
 { 
	display:none;
} 

.chapter
{
	color:#89ED93;  /* pale green */
	font-size:24;
	display: inline; 
}

.verse 
{
	color:#9389ED;  /* pale blue */
	font-size:18;
	vertical-align: super;
	display: inline;
} 

.word
{
	display: inline; 
}

.parallel1 
{
	display:block;
	color:#BBBBBB; /* pale gray */
	font-size:20;
} 

.parallel2 
{
	display:block;
	color:#9389ED;  /* pale blue */
	font-size:18;
}

.parallel3 
{
	display:block;
	color:#89ED93;  /* pale green */
	font-size:18;
}

.concordance_title
{
	color:#89ED93;  /* pale green */
	font-size:24;
	display: block;
}

.concordance_strong_id
{
	color:#9389ED;  /* pale blue */
	font-size:18;
	display: inline; 
	margin-left:24;
}

.concordance_source
{
	color:#9389ED;  /* pale blue */
	display: inline; 
	font-size:18;
}

.concordance_meaning .concordance_usage
{
	display:block;
	font-size:18;
	margin-bottom:18;
}