// Tell the browser to render HTML 5 elements as block
header, footer, section, aside, nav, article
{
	display: 	block;
}

body
{
	width: 		100%;
	margin-left:	0;
	margin-top:	21px;
	font: 		13px/22px Helvetica, Arial, sans-serif;
	background: 	#F0F0F0;
	text-align:	center;
}

h1, h2 {
	padding: 0px 0;
}

h3 {
	padding: 0px 0;
}

p {
	padding-bottom: 0px;
}


#h2_content
{
	display:	table;
	width:		620px;
	padding-right:	22px;
}

h2 div#icon
{
	width:		20px;
	height:		20px;

	background:	#d9f499;
	border:		1px solid #d7d7d7;

	-moz-border-radius:	11px;
	-webkit-border-radius:	11px;

	padding: 	0px 0;
}

h2 div#title
{
	border:		1px solid #d7d7d7;

	display:	table-cell;
	padding: 	0px 0;
}





article
{
	padding:	21px;
	//background:	#e3e3e3;
	//border:		1px solid #d7d7d7;

	//-moz-border-radius:	11px;
	//-webkit-border-radius:	11px;
}

#content
{
 	text-align:	left; 
	width:		760px;
	margin:		0 auto;
	position:	relative;
	display:	table;
}

#body_content
{
	display:	table-cell;
	width:		620px;
	padding-right:	22px;
}

aside
{
	margin-left: 	21px;
	padding-left: 	22px;
	border-left: 	1px solid #d7d7d7;

	display:	table-cell;
	width:		150px;

	//border:		1px solid #d7d7d7;
	//-moz-border-radius:	11px;
	//-webkit-border-radius:	11px;
}

nav
{
	//padding:	21px;
	//background:	#d9f499;
	//border:		1px solid #d7d7d7;

	//-moz-border-radius:	11px;
	//-webkit-border-radius:	11px;
}

nav ul
{  
	margin: 	0 auto;    
	list-style: 	none;  
	font-weight:	bold;
} 

nav ul li a
{
	padding: 	1px; 
	display: 	block;
	margin-right: 	20px;
	width: 		140px;
	font-size: 	14px;
	line-height: 	44px;
	text-align: 	center;
	text-decoration: none;
	color: 		#000;
}
			
nav ul li a:hover
{
	padding: 	0px; 

	color: 		#000;
	
	//background:	#d9f499;
	border-top: 	1px solid #d7d7d7;
	border-bottom: 	1px solid #d7d7d7;
	-moz-border-radius:	11px;
	-webkit-border-radius:	11px;	
}
			
nav ul li.selected a
{
	color: 		#fff;
}

aside header
{
	font-size: 	80px;
	color: 		#e0e0e0;
	text-align: 	right;

	position: 	absolute;
	bottom: 	0%;
	right:		0%
}

footer 
{
	text-align: 	center;
	color: 		#e0e0e0;
	width:		100%;
} 

section#feature
{
	padding:	21px;
	background:	#d9f499;
	border:		1px solid #d7d7d7;

	-moz-border-radius:	11px;
	-webkit-border-radius:	11px;
}
/*

#feature
{  
    margin-top: 66px;  
    padding: 44px;  
    background: #467612 url("resource/segment.jpg") repeat-x;  
    background-size: 100%;  
    border-radius: 22px;  
}*/

section#feature img 
{
		position: absolute;
		top: 0;
		right: -150px;
		width: 150px;
		height: 150px;
	
		/* Border-radius not implemented yet */
		-moz-border-radius: 22px;
		-webkit-border-radius: 22px;
	}