Build: Jun  2 2008 20:37:28
<br>Running game: Data
<br>[OGLDevice::InitInternal] Attempting to Init OGL device
<br>[OGLDevice::InitExtension] Attempting to Init OGL Extensions
<br>GREMEDY String Marker			[OK]
<br>[OGLDevice::InitExtension] Attempting to Init CG
<br>[OGLDevice::InitInternal] Init OGL device complete
<br>[Game::Init] Using OpenGL<br>OpenAL Initilised using: Generic Hardware
<br>Using 15 sources
<br>Failed to get OpenAL effects extension
<br><font color=red>Failed to get physx handle, Make sure your physx driver is installed
</font><br>