/*---------- bubble tooltip -----------*/
a.tt{
    position:relative;
    z-index:24;
    font-family: "Trebuchet MS",Verdana,Sans-Serif;
	font-style: normal;
	color: #000000;
	text-decoration: none;
	font-size: 14px;
}
a.tt span{ display: none; }

/*background:; ie hack, something must be changed in a for ie to execute it*/
a.tt:hover{ z-index:25; color: #000000; font-weight:bold; background:;}
a.tt:hover span.tooltip{
    display:block;
    position:absolute;
    top:0px; left:0;
	padding: 30px 0 0 0;
	width:200px;
	color: #000000;
    text-align: center;
	filter: alpha(opacity:80);
	KHTMLOpacity: 0.80;
	MozOpacity: 0.80;
	opacity: 0.80;
}
a.tt:hover span.top{
	display: block;
	padding: 8px 8px 0;
    background: url(bubble.gif) no-repeat top;
}
a.tt:hover span.middle{ /* different middle bg for stretch */
	display: block;
	padding: 0 8px; 
	background: url(bubble_filler.gif) repeat bottom; 
}
a.tt:hover span.bottom{
	display: block;
	padding:3px 8px 8px;
	color: #548912;
    background: url(bubble.gif) no-repeat bottom;
}



