p, a, tr
{
	font-family: "Trebuchet MS",Verdana,Sans-Serif;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	font-size: 14px;
}

body
{
	background: #c4bdad url(/resource/background_logo.gif) no-repeat bottom right;
	font-family: "Trebuchet MS",Verdana,Sans-Serif;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	font-size: 14px;
}

h1, .h1
{

	font-family: "Trebuchet MS",Verdana,Sans-Serif;
	font-weight: bold;
	color: #000000;
	font-size: 20px;
	font-style: normal;
	text-transform: capitalize;
}

h2, .h2
{
	font-family: "Trebuchet MS",Verdana,Sans-Serif;
	font-weight: bold;
	color: #000000;
	font-size: 16px;
	font-style: normal;
	text-transform: capitalize;
}

h3, .h3
{
	font-family: "Trebuchet MS",Verdana,Sans-Serif;
	font-weight: bold;
	color: #000000;
	font-size: 14px;
	font-style: normal;
	text-transform: capitalize;
}

input, textarea, .input, .textarea
{
	color: #000;
	background: white;
	border: solid 1px Black;
}

.submit input
{
	color: #000;
	background: #b3a88a;
	border: solid 1px Black;
}

.producttop
{
	background: url(/resource/product_top.gif) no-repeat top center;
	vertical-align: top;
	padding-top: 6px;
	width: 428px;
}

.outerborder {
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
.menuborder {
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;

}
.bodyborder {
	border-top-width: 4px;
	border-right-width: 4px;
	border-bottom-width: 4px;
	border-left-width: 4px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;

}
.newsheading {

	font-family: "Trebuchet MS",Verdana,Sans-Serif;
	font-weight: bold;
	color: #000000;
	font-size: 20px;
	font-style: normal;
	text-transform: capitalize;
}
.normaltext 
{
	font-family: "Trebuchet MS",Verdana,Sans-Serif;
	font-style: normal;
	font-weight: normal;
	text-transform: lowercase;
	color: #000000;
	text-decoration: none;

}
.errortext {
	font-family: "Trebuchet MS",Verdana,Sans-Serif;
	font-style: normal;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;

}
.sidebarborder {

	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
}
.sidebartext {
	font-family: "Trebuchet MS",Verdana,Sans-Serif;
	font-style: normal;
	font-weight: normal;
	text-transform: lowercase;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 14px;

}
.copyright {
	font-family: "Trebuchet MS",Verdana,Sans-Serif;
	font-style: normal;
	font-weight: normal;
	color: #b3a88a;
	text-decoration: none;
	font-size: 12px;

}
.subheading {
	font-family: "Trebuchet MS",Verdana,Sans-Serif;
	font-weight: bold;
	color: #000000;
	font-size: 16px;
	font-style: normal;
	text-transform: capitalize;
}

table.maintable
{
	background: #fff url(/resource/background.gif) no-repeat bottom left;
	border: solid 1px Black;
}

table.darkborder
{
    background-color: #b3a88a;
    border: solid 1px Black;
}

table.lefttable
{
	background-color: #c4bdad;
	border: solid 1px Black;
}

.border
{
	border: solid 1px Black;
}

.row1 
{
    background-color: #c4bdad;
}

.row0 
{
    background-color: #b3a88a;
}

A:link {text-decoration: none; color: black}
A:visited {text-decoration: none; color: black}
A:active {text-decoration: none; color: black}
A:hover {font-weight:bold}

.underlinelink A:link {text-decoration: underline; color: black}
.underlinelink A:visited {text-decoration: underline; color: black}
.underlinelink A:active {text-decoration: underline; color: black}
.underlinelink A:hover {font-weight: underline bold}

.imglink img { border:0; }

