<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html dir="<pun_content_direction>">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<pun_char_encoding>" />
<pun_head>
</head>
<body>

<div id="punwrap">
<div id="punredirect" class="pun">

<div class="block">
	<h2><pun_redir_heading></h2>
	<div class="box">
		<div class="inbox">
			<p><pun_redir_text></p>
		</div>
	</div>
</div>

<pun_footer>

</div>
</div>

</body>
</html>
